{% extends 'base.html' %}

{% block content %}

    <center>
        <h3>Ubah buku: <strong>{{ buku.judul }}</strong></h3>
    </center>

    <div class="container">
        <div class= "row">
            <div class="col-md-6">
                {% for message in messages %}
                    {% if message %}
                        <div class="alert alert-warning" role="alert">{{ message }}</div>
                    {% endif %}
                {% endfor%}
                <form  action="{% url 'ubah_buku' buku.id %}" method="POST">
                    {% csrf_token %}    
                    {{ form.as_p }}
            
                    <button type="submit" class="btn btn-primary">Ubah</button>
                    <a href="/buku" class="btn btn-secondary">Kembali</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}